body{
 background: black;
color: gray; }

section{
background-color: lightsteelblue;
padding-top:60px;
padding-bottom:60px;
display: flex;
justify-content: center;
}
header{
margin:5%;
font-size: 40px;
text-align: center;
color: crimson};
img{
    height: 200px;
}
.video{display: flex;
overflow-x: auto;
gap: 10px;
padding: right 20px;


}
